apiVersion: run.tanzu.vmware.com/v1alpha3
kind: TanzuKubernetesCluster
metadata:
  name: {{ name }}
  annotations:
    run.tanzu.vmware.com/resolve-os-image: os-name=ubuntu
spec:
  topology:
    controlPlane:
      replicas: {{ controlPlane.replicas }}
      vmClass: {{ controlPlane.vmClass }}
      storageClass: {{ controlPlane.storageClass }}
      tkr:
        reference:
          name: {{ controlPlane.tkrVersion }}
    nodePools:
      {% for pool in nodePools -%}
      - name: {{ pool.poolName }}
        replicas: {{ pool.replicas }}
        vmClass: {{ pool.vmClass }}
        storageClass: {{ pool.storageClass }}
        {%- if pool.taints %}
        taints:
          {%- for taint in pool.taints %}
          - effect: {{ taint.effect}}
            key: {{ taint.key }}
            value: {{ taint.value }}
          {%- endfor %}
        {%- endif %}
        {%- if pool.labels %}
        labels:
          {%- for label in pool.labels %}
            {{ label.key}} : {{ label.value}}
          {%- endfor %}
        {%- endif %}
        {%- if pool.volumes %}
        volumes:
          - name: containerd
            mountPath: /var/lib/containerd
            capacity:
              storage: {{ pool.volumes.containerd }}Gi
          - name: kubelet
            mountPath: /var/lib/kubelet
            capacity:
              storage: {{ pool.volumes.kubelet }}Gi
        {% endif -%}
        tkr:
          reference:
            name: {{ pool.tkrVersion }}
      {% endfor %}